[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.6"
pytz = "==2017.2"
"django-bootstrap3" = "*"
python-dotenv = "*"
gunicorn = "*"


[dev-packages]

django-debug-toolbar = "*"