[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.6"
pytz = "==2017.2"
"django-bootstrap3" = "*"
python-dotenv = "*"
gunicorn = "*"
pytils = "*"
django-autoslug = {git = "https://github.com/neithere/django-autoslug.git", editable=true}
django-ckeditor = "*"
pymailcloud = {git = "https://github.com/vladimirdotk/PyMailCloud", editable = true}


[dev-packages]

django-debug-toolbar = "*"