[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.1"
pytz = "==2017.2"
"django-bootstrap3" = "*"
python-dotenv = "*"
gunicorn = "*"
pytils = "*"
django-autoslug = {git = "https://github.com/vladimirdotk/django-autoslug", editable=true}
django-ckeditor = "*"
pymailcloud = {git = "https://github.com/vladimirdotk/PyMailCloud"}


[dev-packages]

django-debug-toolbar = "*"
