.post, .post-detail, .post-pagination {
    margin-bottom: 40px;
}

.post-preview, .post-body {
    text-align: justify;
    font-size: 18px;
}

.post-date {
    font-size: 16px;
    font-style: italic;
}

.post-header, .post-header-link {
    color: #333;
}

.post-read-all, .post-detail-back {
    text-decoration: underline;
    font-size: 18px;
}

.post-detail-back {
    margin-bottom: 60px;
}

.blog-pic {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
    height: auto;
}

.blog-footer {
    text-align: center;
    margin-bottom:20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
