html, body {
  height: 100%;
}

body {
    background-color: #2e3436;
    display: flex;
    flex-direction: column;
}

.container {
    color: #babdb6;
    flex: 1 0 auto;
}

.post, .post-detail, .post-pagination {
    margin-bottom: 40px;
    background-color: #272c2d;
    padding: 10px 25px 25px;
    border-radius: 15px;
}

.post-pagination {
    background-color: #2e3436;
    padding: 0;
    margin: 0;
    border: 0;
}

.pagination > .disabled > span, .pagination>li>a, .pagination>li>span {
    background-color: #272c2d;
    color: white;
    border: 0;
}

.pagination > .disabled > span:hover, .pagination > .active > span:hover, .pagination > li > a:hover {
    background-color: #232323;
    color: white;
    border: 0;
}

.pagination> .active > span {
    background-color: inherit;
    border: 0;
}

.post-preview, .post-body {
    text-align: justify;
    font-size: 18px;
}

.post-date {
    font-size: 16px;
    font-style: italic;
}

h1, h1 > a, h1 > a:hover, h2, .post-header, .post-header-link {
    color: #fff;
}

h1 > a:hover {
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #555;
}

.post-read-all, .post-detail-back {
    text-decoration: underline;
    font-size: 18px;
}

.post-detail-back {
    margin-bottom: 60px;
}

.blog-pic {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
    height: auto;
}

.blog-footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

pre {
    background-color: inherit;
    border: none;
}

.hljs {
    background-color: inherit;
}
