{% extends 'blog/layout.html' %}


{% block container %}

    <div class="posts">
        {% for post in object_list %}
            <div class="post">
                <h2 class="post-header">
                    <a class="post-header-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <div class="post-date">{{ post.created_date }}</div>
                <br>
                <div class="post-preview">
                    {{ post.preview|safe }}
                </div>
                <a class="post-read-all" href="{{ post.get_absolute_url }}">Читать далее</a>
            </div>
        {% empty %}
            <div>Заметок пока нет</div>
        {% endfor %}
    </div>

{% endblock %}