<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Мои заметки</h1>
    {% for post in object_list %}
        <h2>{{ post.title }}</h2>
        <div>{{ post.created_date }}</div>
        <div>{{ post.preview }}</div>
        <a href="{{ post.get_absolute_url }}">Читать дальше</a>
    {% empty %}
    <div>Заметок пока нет</div>
    {% endfor %}
</body>
</html>